.logoTitle {
    &_title {
        color: #D04F4F;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
    }

    &_bloc {
        width: 100%;
        position: relative;

        &-search {
            width: 100%;
            background: #E7E7E7;
            border-radius: 5px;
            font-size: 1.125rem;
            padding: 1.5rem 0 1.5rem 1.5rem;
            border: none;
            font-family: 'Lato';

            &:focus {
                outline: none !important;
                border: 1px solid #E7E7E7;
            }
        }

        &-loupe {
            position: absolute;
            bottom: 1rem;
            right: 0.5rem;
        }
    }
}

.dropdown_ingredients,
.dropdown_appliance,
.dropdown_ustensils {

    &-button {
        font-family: 'Lato';
        font-size: 1.125rem;
        color: white;
        border: none;
    }
}

.dropdown_ingredients-button {
    background: #3282F7;

    h2 {
        font-size: 1.125rem;
    }
}

.dropdown_ingredients-buttonSearch {
    outline: none !important;
    border: none;
    background: #3282F7;

    &::placeholder {
        color: white;
    }
}

.dropdown_appliance-button {
    background: #ED6454;
    h2 {
        font-size: 1.125rem;
    }
}

.dropdown_appliance-buttonSearch {
    outline: none !important;
    border: none;
    background: #ED6454;

    &::placeholder {
        color: white;
    }
}

.dropdown_ustensils-button {
    background: #68D9A4;
    h2 {
        font-size: 1.125rem;
    }
}

.dropdown_ustensils-buttonSearch {
    outline: none !important;
    border: none;
    background: #68D9A4;

    &::placeholder {
        color: white;
    }
}