.tags,
.dropdown {
    margin: .5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    z-index: 1000;

    &_ingredients {
        .ingredientsResult {
            position: absolute;
            max-width: 620px;
            max-height: 400px;
            overflow: hidden;
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            color: white;
            background: #3282F7;        
            border-radius: 0 0 5px 5px;
            z-index: 200;
            font-size: 1.125rem;
        }
        a{
            width: 150px;
            color: white;
            padding: 5px;
            font-size: 1.125rem;
            &:hover{
                background: lighten(#3282F7, 10%);
            }
        }
    }
    &_appliance {
        .applianceResult {
            position: absolute;
            max-width: 500px;
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            color: white;
            background: #ED6454;        
            border-radius: 0 0 5px 5px;
            z-index: 200;
            font-size: 1.125rem;
        }
        a{
            width: 150px;
            color: white;
            padding: 5px 5px 5px 10px;
            font-size: 1.125rem;
            &:hover{
                background: lighten(#ED6454, 10%);
            }
        }
    }

    &_ustensils {
        .ustensilsResult {
            position: absolute;
            max-width: 520px;
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            color: white;
            background: #68D9A4;        
            border-radius: 0 0 5px 5px;
            z-index: 200;
            font-size: 1.125rem;
        }
        a{
            width: 150px;
            color: white;
            padding: 5px 5px 5px 10px;
            font-size: 1.125rem;
            &:hover{
                background: lighten(#68D9A4, 10%);
            }
        }
    }
}
.dropdown_ingredients,
.dropdown_appliance,
.dropdown_ustensils {
    &-button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 49px;
        width: 150px;
        left: 0px;
        top: 0px;
        border-radius: 5px;
    }
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    position: absolute;
    top: 17rem;
    z-index: 100;
    .articles_bloc {
        width: 380px;
        height: 364px;
        background: #E7E7E7;
        font-size: .75rem;
        border-radius: 5px;
        line-height: 1rem;

        .data_bloc--ingredients {
            width: 47%;
            list-style-type: none;
            margin-left: 5px;
            float: left;
            line-height: 1rem;
            .strong{
                font-weight: bold;
            }
        }

        .data_bloc--description {
            width: 48%;
            list-style-type: none;
            margin-right: 5px;
            float: right;
            text-align: justify;
        }

        .media {
            width: 380px;
            height: 178px;
            background: #C7BEBE;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        h2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1.125rem;
            margin: 5px;
        }
    }
}