.dropdown {
    &_ingredients {
        &-buttonSearch {
            display: none;
        }
    }

    &_appliance {
        &-buttonSearch {
            display: none;
        }
    }

    &_ustensils {
        &-buttonSearch {
            display: none;
        }
    }
}